/* No style tag needed */
/* 16-Rewriting the previous styles */
/* 18-Change Background colour of body element to brown */
/* 19-Background colour to Burlywood, better readability*/
/* 21-width property for the div to not take up entire width of page
        we can use id selector for targeting a specific div element
        id selector is defined by placing hash symbol in front of element id
        ex: if id = cat, #cat{width:250px;} is used*/
/* 22-comments in CSS- forward slash ,asterisk, comment, asterisk, forward slash 
to comment shortcut [cmd+/] */
/* 23-In #menu selector set bg color of div to burlywood */
/* 24-RN, the menu element width is in pixels, change it to 80% of the width of parent(body) */
/* 25-To center the menu horizontally, by setting margin-left and margin-right to auto */
/* 26-ID selector is one type of selector, and class selctor is another type of selector 
A class selector is defined by a name with a dot in fornt of it
Change menu to class selector by replacing # with .
Class selectors are more common to style elements*/
/* 28-background-image for body to set a background image
background-image: url(https://url.com); */
/* 33-Use flavor class as a selector, set the text-align property's value to left. */
/* 35-Now align the text to the right for the elements with the price class. */
/* 36-Though they are arranged left and right, they are not on the same line, so we need them on same line, since p level element are block level elements-they take entire width of their parent
So we need to do styling to p for turning it into block level to inline element
Add class attribute to the article with the value item */
/* 37-To style the p elements inside the article with class name-item,have the selector as .item p{}
And have property display with value inline-block;  */
/* 38-That's closer, but the price didn't stay over on the right. 
This is because inline-block elements only take up the width of their content. To spread them out, 
add a width property to the flavor and price class selectors that have a value of 50% each. */
/* 39-Styling the p elements as inline-block and placing them on separate lines 
in the code creates an extra space to the right of the first p element, 
causing the second one to shift to the next line.
So changing it to less than 50- so 49% works */
/* 41-Now go ahead and change both the flavor and price class' widths to be 50% again. */
/* 45- If you make the width of the page preview smaller, 
you will notice at some point, some of the text on the left starts 
wrapping around to the next line. This is because the width of the p elements 
on the left side can only take up 50% of the space.
Increase flavor width to 75% and decrease width of price to 25%
 */

h1, h2, p{
    text-align: center;
}
/* 
body{
    background-color: brown;  
}*/
.menu{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}
.flavor{
    text-align: left;
    width:75%;
}
.price{
    text-align: right;
    width:25%;
}
.item p{
    display: inline-block;
}