/* No style tag needed */
/* 16-Rewriting the previous styles */
/* 18-Change Background colour of body element to brown */
/* 19-Background colour to Burlywood, better readability*/
/* 21-width property for the div to not take up entire width of page
        we can use id selector for targeting a specific div element
        id selector is defined by placing hash symbol in front of element id
        ex: if id = cat, #cat{width:250px;} is used*/
/* 22-comments in CSS- forward slash ,asterisk, comment, asterisk, forward slash 
to comment shortcut [cmd+/] */
/* 23-In #menu selector set bg color of div to burlywood */
/* 24-RN, the menu element width is in pixels, change it to 80% of the width of parent(body) */
/* 25-To center the menu horizontally, by setting margin-left and margin-right to auto */
/* 26-ID selector is one type of selector, and class selctor is another type of selector 
A class selector is defined by a name with a dot in fornt of it
Change menu to class selector by replacing # with .
Class selectors are more common to style elements*/
/* 28-background-image for body to set a background image
background-image: url(https://url.com); */
/* 33-Use flavor class as a selector, set the text-align property's value to left. */
/* 35-Now align the text to the right for the elements with the price class. */
/* 36-Though they are arranged left and right, they are not on the same line, so we need them on same line, since p level element are block level elements-they take entire width of their parent
So we need to do styling to p for turning it into block level to inline element
Add class attribute to the article with the value item */
/* 37-To style the p elements inside the article with class name-item,have the selector as .item p{}
And have property display with value inline-block;  */
/* 38-That's closer, but the price didn't stay over on the right. 
This is because inline-block elements only take up the width of their content. To spread them out, 
add a width property to the flavor and price class selectors that have a value of 50% each. */
/* 39-Styling the p elements as inline-block and placing them on separate lines 
in the code creates an extra space to the right of the first p element, 
causing the second one to shift to the next line.
So changing it to less than 50- so 49% works */
/* 41-Now go ahead and change both the flavor and price class' widths to be 50% again. */
/* 45- If you make the width of the page preview smaller, 
you will notice at some point, some of the text on the left starts 
wrapping around to the next line. This is because the width of the p elements 
on the left side can only take up 50% of the space.
Increase flavor width to 75% and decrease width of price to 25%
 */
 /* 51- Define the selector for the dessert class, 
 as price class and flavour class exists from Coffe section but not Dessert class */
 /* 53- You can add some space between the parent edges and the menu content by using padding properties
 Give the menu class a padding-left and a padding-right with the same value 20px. 
 so much better*/
 /* 54- Now same 20px padding to top and bottom */
 /* 55- You can use a single line to add padding on all 4 sides, if the padding value is same
 Use the single padding property and delete other 4 lines */
 /* 56-Current width of menu will take 80% of the body, when the screen is too wide, the item and price are too far apart,
 So, we can use a max width to set a maximum width of 500px in menu */
 /* 57-Fontfamily of text can be changed to have different font from the browser default font.
 Few common fonts are available to the browser
 set the body font to sans-serif with font-family property */
 /* 58- make just the h1 and h2 elements different using a different selector.

Style both the h1 and the h2 elements using a single selector so that these elements' text use Impact font. */
/* 59-You can add a fallback value for the font-family by adding another font name separated by a comma. 
Fallbacks are used in instances where the initial is not found/available.
Add the fallback font serif after the Impact font. */
/* 60-Make the Est. 2020 text italicized by creating an established class selector and giving 
it the font-style property with the value italic. */
/* 62- To customize the font size of h1 and h2 seperately(as they have a clubbed selector for font
create two new seperate selectors with font size of 40 px and 30 px for h1 and h2 respectively */
/* 67- change the height property of hr element to 3px */
/* 68- Change background color of the hr to bro, to match the coffee beans */
/* 69- the edges of the hr is still grey,
Those edges are known as borders. Each side of an element can have a different color or they can all be
 the same. Make all the edges of the hr element the same color as the background of it using the 
 border-color property. */
h1, h2, p{
    text-align: center;
}
h1,h2{
    font-family: Impact,serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

body{
    /* background-color: brown;  */
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif; 
}
.menu{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    max-width: 500px;
}
.flavor, .dessert{
    text-align: left;
    width:75%;
}
.price{
    text-align: right;
    width:25%;
}
.item p{
    display: inline-block;
}
.established{
    font-style: italic;
}
hr{
    height: 3px;
    background-color: brown;
    border-color:brown;
}
/* .dessert{
    text-align: left;
    width:75%;
} 
You can do this or seperate it by comma with the flavour class*/